---
import Layout from "../../layouts/layout.astro";
import Front from "../../components/svelte/front.svelte";
import * as m from "../../paraglide/messages.js";
import { languageTag } from "../../paraglide/runtime";
---

<Layout>
  <div class="container">
    <div class="title">{m.learning_for()}</div>
    <div class="title-strong">{m.anyone_anywhere_anytime()}</div>
    <img src="/illus01.png" alt="" width="1000" />
    <div class="video-container">
      <iframe
        src="https://www.youtube.com/embed/bh67R6JIz7Q?si=4PHJ-_IIbS92QjpI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
    <div style="margin-bottom:1rem;"></div>
    <p>
      {m.mindtree_is()}
    </p>
    <div style="margin-bottom:3rem;"></div>
    <div class="smalltitle">{m.key_features()}</div>
    <div style="margin-bottom:1rem;"></div>
    <div class="boxgroup">
      <div class="keybox">
        <img src="/icon_youtube.svg" alt="" class="indexicon" />
        {m.interactive_video_lesson()}
      </div>
      <div class="keybox">
        <img src="/icon_analysis.svg" alt="" class="indexicon" />
        {m.ai_collaboration_learning()}
      </div>
      <div class="keybox">
        <img src="/icon_recursive.svg" alt="" class="indexicon" />
        {m.content_delivery_innovation()}
      </div>
      <div class="keybox">
        <img src="/icon_progress.svg" alt="" class="indexicon" />
        {m.smart_evaluation_system()}
      </div>
      <div class="keybox">
        <img src="/icon_sharing.svg" alt="" class="indexicon" />
        {m.profit_sharing_model()}
      </div>
    </div>
    <div style="margin-bottom:3rem;"></div>
    <img src="/illus03.png" alt="" width="1000" />
    <div style="margin-bottom:3rem;"></div>
    <p>
      {m.we_are_poised()}
    </p>
  </div>
  <Front client:only lang={languageTag()} />
</Layout>

<style>
  .boxgroup {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  .keybox {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 1rem;
    flex-basis: 300px;
    flex-grow: 1;
    padding: 16px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 900;
    box-sizing: border-box;
  }
</style>
